package templates

import "github.com/philipjkim/gothic-to-do/internal/model"

templ Index(todos []*model.Todo) {
    @Layout("To-Do App") {
        <div class="flex flex-col gap-6">
            <!-- header: Alpine.js theme toggle -->
            @ThemeToggleHeader()

            <!-- To-Do Input Form -->
            @TodoForm()

            <!-- To-Do List -->
            <div id="todo-list">
                @TodoList(todos)
            </div>
        </div>
    }
}
